#center-me {
    text-align: center;
}

#city-search {
    text-align: center;
}

#city-input {
    text-align: center;
}

.hidden {
    display: none;
}

header {
    background: linear-gradient(to bottom right, #87CEEB, #0F0A5F);
    padding: 20px;
    text-align: center;
    color: white;
}

#results-box {
    width: 80%;
    max-width: 500px;
    margin: 20px auto;
    padding: 15px;
    background: white;
    border-radius: 10px;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
    text-align: center;
}

#results-row {
    display: flex;
    justify-content: space-between;
    gap: 10px;
    margin-top: 20px;
}

.results-info {
    flex: 1;
    padding: 10px;
    border-radius: 8px;
    background: #f9f9f9;
    text-align: center;
}

#temp-image-box {
    margin-top: 20px;
    text-align: center;
}

.temp-image {
    width: 200px;
    height: auto;
    border-radius: 10px;
}