#center-me {
    text-align: center;
}

#city-search {
    text-align: center;
}

#city-input {
    text-align: center;
}

.hidden {
    display: none;
}

.title {
    text-align: center;
    font-size: 60px;
    font-weight: bold;
}

header {

    background-image: url("clouds background 2.jpg");
    min-height: 150px;
    padding: 20px;
    text-align: center;
    color: black;
}


body {
    min-height: 100vh;
    margin: 0;
    background: linear-gradient(to bottom, #87CEEB, #00073D);
    background-repeat: no-repeat;
    background-attachment: fixed;
}

#results-box {
    width: 80%;
    max-width: 500px;
    margin: 20px auto;
    padding: 15px;
    background: white;
    border-radius: 10px;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
    text-align: center;
}

#results-row {
    display: flex;
    justify-content: space-between;
    gap: 10px;
    margin-top: 20px;
}

.results-info {
    flex: 1;
    padding: 10px;
    border-radius: 8px;
    background: #04d19dbc;
    text-align: center;
    border: 2px solid rgb(0, 0, 0);
}

#temp-image-box {
    margin-top: 20px;
    text-align: center;
}

.temp-image {
    width: 200px;
    height: auto;
    border-radius: 10px;
}